@font-face {
	font-family: 'Conv_MyriadPro-Bold';
	src: url('fonts/MyriadPro-Bold.eot');
	src: local('☺'), url('fonts/MyriadPro-Bold.woff') format('woff'), url('fonts/MyriadPro-Bold.ttf') format('truetype'), url('fonts/MyriadPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_Olsen-LightItalic';
	src: url('fonts/Olsen-LightItalic.eot');
	src: local('☺'), url('fonts/Olsen-LightItalic.woff') format('woff'), url('fonts/Olsen-LightItalic.ttf') format('truetype'), url('fonts/Olsen-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_Olsen-Light';
	src: url('fonts/Olsen-Light.eot');
	src: local('☺'), url('fonts/Olsen-Light.woff') format('woff'), url('fonts/Olsen-Light.ttf') format('truetype'), url('fonts/Olsen-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_Olsen-BoldItalic';
	src: url('fonts/Olsen-BoldItalic.eot');
	src: local('☺'), url('fonts/Olsen-BoldItalic.woff') format('woff'), url('fonts/Olsen-BoldItalic.ttf') format('truetype'), url('fonts/Olsen-BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_Olsen-Bold';
	src: url('fonts/Olsen-Bold.eot');
	src: local('☺'), url('fonts/Olsen-Bold.woff') format('woff'), url('fonts/Olsen-Bold.ttf') format('truetype'), url('fonts/Olsen-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_SpkLt__';
	src: url('fonts/SpkLt__.eot');
	src: local('☺'), url('fonts/SpkLt__.woff') format('woff'), url('fonts/SpkLt__.ttf') format('truetype'), url('fonts/SpkLt__.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_SpkHy__';
	src: url('fonts/SpkHy__.eot');
	src: local('☺'), url('fonts/SpkHy__.woff') format('woff'), url('fonts/SpkHy__.ttf') format('truetype'), url('fonts/SpkHy__.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_SpkBd__';
	src: url('fonts/SpkBd__.eot');
	src: local('☺'), url('fonts/SpkBd__.woff') format('woff'), url('fonts/SpkBd__.ttf') format('truetype'), url('fonts/SpkBd__.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_MyriadPro-Semibold';
	src: url('fonts/MyriadPro-Semibold.eot');
	src: local('☺'), url('fonts/MyriadPro-Semibold.woff') format('woff'), url('fonts/MyriadPro-Semibold.ttf') format('truetype'), url('fonts/MyriadPro-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_MyriadPro-Regular';
	src: url('fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_MyriadPro-It';
	src: url('fonts/MyriadPro-It.eot');
	src: local('☺'), url('fonts/MyriadPro-It.woff') format('woff'), url('fonts/MyriadPro-It.ttf') format('truetype'), url('fonts/MyriadPro-It.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_MyriadPro-Cond';
	src: url('fonts/MyriadPro-Cond.eot');
	src: local('☺'), url('fonts/MyriadPro-Cond.woff') format('woff'), url('fonts/MyriadPro-Cond.ttf') format('truetype'), url('fonts/MyriadPro-Cond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

